<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="dataModelContainer" connectionString="metadata=res://*/dataModel.csdl|res://*/dataModel.ssdl|res://*/dataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSTEPANYAN\MSTEPANYAN2012;initial catalog=Vshp2016;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/JKHModel.Model1.csdl|res://*/JKHModel.Model1.ssdl|res://*/JKHModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSTEPANYAN\MSTEPANYAN2012;initial catalog=Database1111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JKHModelContainer" connectionString="metadata=res://*/JKHModel.JKHModel.csdl|res://*/JKHModel.JKHModel.ssdl|res://*/JKHModel.JKHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Database1111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>